.container{
  width:100%;  
  display:flex;
  justify-content: center;
  align-items: flex-start;  
}

.form{
  width:400px; 
  padding: 15px;
  border:1px solid #888;
  background-color: #f7f9f9;
  font-size:15px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}
.form h2{  
  display:flex;
  align-items:center;
  justify-content: space-between;  
}
.form h2 pre{
  color:green;
  
}

.header_icons{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:10px 0;
}
.header_icons i:nth-child(2){
color:red;
cursor:pointer;
}
.input_wrapper{
  padding:5px 0;
}
.form input{
  width:100%;
  height:30px;
  font-size: inherit;
  padding:0 5px;
}
.form input[type='submit']{
  margin:10px 0;
  height:30px;
}

.bottom{
  display:flex;
  justify-content: space-between;
}

.custom_checkbox{
  position:relative;
display:flex;
gap:10px;
align-items: center;
padding:5px 0;
}
.custom_checkbox label{
  border:1px solid #888;
  padding: 5px;
cursor:pointer;
border-radius: 5px;
}
.custom_checkbox input{
  z-index:-1;
  position:absolute;
}

.custom_checkbox .icon{
font-size:20px;
color:green;
visibility:hidden;
}

.custom_checkbox .visible{
  visibility: visible;
}