$bg_list_color: #fbfcfc;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  .right_icons {
    display: flex;
    align-items: center;
    font-size: 30px;
    column-gap: 10px;
    .icon[name="cancel"] {
      color: red;
      cursor: pointer;
      &:hover {
        color: darken($color: red, $amount: 10);
      }
    }
    .icon[name="save"] {
      color: steelblue;
      cursor: pointer;
      &:hover {
        color: darken($color: steelblue, $amount: 10);
      }
    }
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  gap: 15px;
  padding: 5px 10px;
  .left_side {
    label {
      display: block;
      padding: 5px 0;
    }
    input {
      width: 100%;
      height: 30px;
      font-size: 15px;
      padding: 0 10px;
    }
    .input_wrapper {
      position: relative;
      .cancell {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 5px;
        cursor: pointer;
        svg {
          color: red;
          vertical-align: middle;
        }
      }
      .drop_down_list {
        display: none;
        position: absolute;
        list-style: none;
        top: 100%;
        left: 0;
        width: 100%;
        max-height: 480px;
        overflow: auto;
        border: 1px solid #888;
        border-radius: 5px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        background-color: $bg_list_color;
        li {
          cursor: pointer;
          padding: 0 10px;
          &:hover {
            background-color: darken($color: $bg_list_color, $amount: 5);
          }
        }
      }
      &:hover .drop_down_list {
        display: block;
      }
    }
  }

  .image_side {
    justify-self: center;
    .image {
      width: 280px;
      height: 350px;
      border: 1px solid #888;
      padding: 5px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .buttons {
      padding: 10px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 100px;
      .icon[name="download"] {
        font-size: 35px;
        color: steelblue;
        cursor: pointer;
      }
      .icon[name="delete"] {
        font-size: 30px;
        color: red;
        cursor: pointer;
      }
    }
  }
}
