.header{
   width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.toggles{
  display:flex;
  justify-content: center;
  align-items: center;
  padding:0 10px;
}
.toggles div{
  display:flex;
  align-items: center;
  margin:0 5px;
  font-size:20px;
  color:green;
  }
  .toggles div:hover{
    cursor:pointer;
    
  }
.crumbs{
 
  margin:0 10px;
  display:flex;
  color:#0d2cb4;
}
.crumbs a{
  color:inherit;
}
.crumbs a:hover{
  text-decoration: underline;
}
.crumbs div{
  display:flex;
}
.container{
  display:flex;
  width:100%;
margin:10px;
}

.left_content{
  
  display:flex;
  margin-bottom:10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
border:1px solid #888;
width:160px;
height:250px;
box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.20);
}
.image{
  width:160px;
  height:210px;
  padding:5px;
  display:flex;
  align-items: center;
}
.image img{
 max-width:150px;
max-height: 200px;
}

.name{
  display:flex;
  justify-content: center;
  align-items: center;
  padding:5px;
  font-size: 14px;  
  
}
.right_content{
  width:100%;  
  padding:0 10px;
}
.right_content>h3{
  text-align: center;
}
@media(max-width:768px){
  .container{
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
  }
}