.container{
  display:flex;
  justify-content:flex-start;
  align-items:center;
  flex-wrap: wrap;
}

@media(max-width:768px){
  .container{
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
  }
}