.content {
  padding: 0 10px;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.item {
  justify-self: center;
  color: #000;
  width: 260px;
  min-height: 320px;
  border: 1px solid #999;
  display: flex;
  flex-direction: column;
  height:100%;
padding:5px;
  font-size: 20px;
  line-height: 1.1;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;

  &:hover {
    cursor: pointer;
    background-color: #f8f9f9;
  }

  &:active {
    transform: scale(0.98);
  }

  &_name {
    flex:1;
    background-color: #F2F3F4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.image {
  border: 1px solid #888;
 height:250px;
  justify-content: center;
  display: flex;
  align-items: center;

  img {
    padding:5px;
    max-width: 250px;
   max-height: 250px;
  }
}
