.drop_down_list {
  position: absolute;
  z-index: 900;
  top: 105%;
  left: 0;
  font-size: 15px;
  background: #f8f9f9;
  width: 100%;
  padding: 5px;
  border: 1px solid #999;
  border-radius: 5px;
  display: none;
  max-height: 330px;
  overflow: auto;

  &.active {
    display: block;
  }

  li {
    cursor: pointer;
    margin: 2px 0;
    list-style: none;
  }
}


