.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
 
}
.container .table{
  max-height:800px;
  overflow:auto;
}
.container table {  
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;  
}



.container thead :nth-child(1) {
  width: 70px;
  border-bottom: 1px solid #999;
}
.container thead :nth-child(2) {
 min-width: 15%;
  text-align: left;
}
.container thead :nth-child(3) {
  min-width: 10%;
  text-align: left;
}
.container thead :nth-child(4) {
  width: 50%;
}
.container thead :nth-child(5) {
  min-width: 50px;
}
.container thead :nth-child(6) {
  min-width: 100px;
}

.container tbody tr:nth-child(odd) {
  background-color: #f2f3f4;
}
.container tbody tr :nth-child(1) {
  vertical-align: middle;
  text-align: left;
  padding: 3px;
}
.container tbody tr :nth-child(1) img {
  width: 50px;
  height: 70px;
}
.container tbody tr :nth-child(2) {
  text-align: left;
  padding: 0 5px;
}
.container tbody tr :nth-child(3) {
  text-align: left;
  padding: 0 5px;
}
.container tbody tr :nth-child(4) {
  text-align: left;
  padding: 0 5px;
}
.container tbody tr :nth-child(5) {
  text-align: center;
  padding: 0 5px;
}

.buttons_wrapper{
  margin-left:20px;
  display:flex;
  align-items: center;
  justify-content: center;
 
}

.buttons_wrapper button{
  background-color: inherit;
  border:none;
  
}

.edit {   
  color: #2874a6;
  cursor: pointer;  
  display:flex;
}

.delete { 
  display:flex;
  border: none;
  cursor: pointer;  
  color: red;  
}
.icon {
  font-size: 1.5rem;
}
.linkButton {
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: #3498db;
  padding: 5px 0;
  text-align: left;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 100px;
  column-gap: 20px;
  padding: 5px;
  margin: 5px 0;
}

.form .input_group {
  position: relative;
}
.form label {
  font-size: 16px;
}
.form input {
  width: 100%;
  height: 30px;
  padding: 5px;
  margin: 5px 0 5px 0;
  font-size: 14px;
}
.form .button_wrapper{
  display:flex;
  align-items: center;
  justify-content: center;
}
.form .button {
  padding-top:25px;
  text-align: center;
  display:flex;
  align-items: center;
  font-size: 25px;;
  border:none;
  background-color: inherit;
  color:steelblue;
  cursor: pointer;
}
.dialog::backdrop{
background-color: rgba(0,0,0,0.3);
backdrop-filter: blur(3px);
}
.dialog{
  margin:auto;
width: 320px;
  height: 170px;
  background-color: #fdfefe;  
  border: #888;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  
}

.dialog_wrapper{
  height:100%;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 70px;
}

.dialog_wrapper p{
  grid-column: 1/3;
  grid-row: 1/2;
  letter-spacing: 1px;;
  justify-self: center;
  align-self: center; 
  text-align: center;
  font-size: 18px;;
}

.dialog_wrapper div{
  justify-self: center;
  align-self: center;
  font-size:18px;
  color:#fff;
  padding:5px 20px;
  border-radius: 5px;;
  cursor:pointer;
}

.dialog_wrapper div:nth-child(2){
  background-color: red;
  
}
.dialog_wrapper div:nth-child(3){
  background-color: green;
  
}
 
@media (max-width: 768px) {
  .form {
    grid-template-columns: 1fr;
  }
  .form .button {
    font-size:30px;
  }
  .container thead th:nth-child(4) {
  width: 0px;
  overflow:hidden;
}
.container tbody td:nth-child(4){
  width:0;
  overflow: hidden;
}
}
