@import './confirm_content';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  .header {
    padding: 5px 0;
  }
}
.list_wrapper {
  max-height: 700px;
  overflow: auto;
}
.item {
  padding: 5px;
  font-size: 15px;
  background-color: #d7dbdd;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:nth-child(2n) {
    background-color: #e5e7e9;
  }
}

.buttons {
  display: flex;
  align-items: center;
  svg {
    margin: 0 5px;
    border: none;
    font-size: 30px;
    padding: 5px;   
    background-color: inherit;
    cursor: pointer;
  }
  .edit {
    color: steelblue;
  }
  .delete {
    color: red;
  }
}
.linkButton {
  border: none;
  font-size: 1rem;
  color: #3498db;
  padding: 5px 0;
  text-align: left;

  &:hover {
    cursor: pointer;
  }
}

.content{
  @extend %confirm_content;
}
