.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 10px;
  margin: 10px 0 10px;
  text-align: center;
  font-size: 15px;

  a {
    color: #fff;
    cursor:pointer;
  }

  &:hover {
    border-bottom: 1px solid;
    
  }

  .bottom {
    padding: 20px 0;
    border-top: 1px solid #444;
  }
}

.top {  
  display:grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  column-gap: 10px;;

  h3 {
    letter-spacing: 0.3rem;
    padding: 5px 0;
  }
}

.information {  
  h3{
    text-align: center;
  }
  p{
    text-align: left;
  }
}
.contacts {
  h3{
    text-align: center;
  }
  &>div,&>a{
    text-align: left;
  }
  a{
    svg{
      vertical-align: middle;
    }
  }
}
.phones_wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;

  .phones {
    text-align: left;
  }
}

@media(max-width:380px){
  .footer{
    font-size:14px;
  }
}