.footer{
  background-color: #333;
  color:#fff;
  padding:20px 10px;
  margin:10px 0 10px;  
  text-align:center; 
font-size: 15px;;
}

.top{
  display:flex;
  justify-content:space-around;
  align-items:flex-start;
  padding-bottom:10px;

}
.top h3{
  letter-spacing: 0.3rem;
  padding:5px 0;
}
.information{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:center;
}
.contacts{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
}
.footer a{
  color:#fff;
}
.footer a:hover{
  border-bottom:1px solid;
}

.footer .bottom{
  padding:20px 0;
  border-top:1px solid #444;  
}

@media(max-width:768px){
  .top{
    flex-direction:column;
    
  }
}