@import "./btn_colors";

.container {
  padding: 0 10px;
}
.form {
  display: block;
  padding: 0 10px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    .right_icons {
      display: flex;
      align-items: center;
      font-size: 28px;
      column-gap: 10px;
      .icon[name="cancel"] {
        color: red;
        cursor: pointer;
        &:hover {
          color: darken($color: red, $amount: 10);
        }
      }
      .icon[name="save"] {
        color: steelblue;
        cursor: pointer;
        &:hover {
          color: darken($color: steelblue, $amount: 10);
        }
      }
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 150px;
    column-gap: 20px;
    row-gap: 10px;

    label {
      font-size: 14px;
      display: block;
    }
    input {
      display: block;
      width: 100%;
      height: 30px;
      padding: 5px 10px;
      font-size: 14px;
    }

    .dropdown_menu {
      list-style: none;
      font-size: 14px;
      display: none;
      width: 100%;
      max-height: 300px;
      overflow: auto;
      position: absolute;
      z-index: 900;
      top: 100%;
      left: 0;
      background: rgba(244, 246, 246);
      padding: 0 10px;
      border: 1px solid #333;
      border-radius: 5px;
      li {
        padding: 0 5px;
        &:hover {
          cursor: pointer;
          background-color: darken($color: rgba(244, 246, 246), $amount: 10);
        }
      }
    }

    .currency_value {
      position: relative;
      align-self: self-end;
      justify-self: center;
      font-size: 16px;
      width: 100%;
      background-color: #eaeded;
      border-radius: 10px;
      cursor: pointer;
      p {
        text-align: center;
        padding: 2px;
      }
      &:hover .dropdown_menu {
        display: block;
      }
    }

    .input_group_menu {
      position: relative;
      svg {
        display: block;
        transform: translate(-50%, -50%);
        font-size: 20px;
        position: absolute;
        color: red;
        top: 50%;
        right: 0;
        cursor: pointer;
      }

      &:hover .dropdown_menu {
        display: block;
      }
    }

    .checkbox_wrapper {
      position: relative;
      align-self: self-end;
      justify-self: center;
      font-size: 16px;
      width: 100%;
      background-color: #eaeded;
      border-radius: 10px;
      input {
        width: 0;
        height: 0;
        &:checked ~ .check_icon {
          display: block;
        }
      }
      label {
        text-align: center;
        padding: 5px;
        cursor: pointer;
      }
      cursor: pointer;

      .check_icon {
        position: absolute;
        color: green;
        top: 6px;
        right: 10px;
        display: none;
      }
    }
  }
 

  textarea {
    font-size: 14px;
    width: 100%;
    height: 100x;
    padding: 5px;
  }
}

.images_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 10px;
  .plus_icon {
    color: steelblue;
    font-size: 30px;
    cursor: pointer;
  }

.image {
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #b2babb;
  padding: 5px;

  img {
    max-width: 100%;
    max-height: 100%;
  }

  &_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0px;
    width: 200px;
  }

  &_footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 5px 0;

    svg {
      // margin-top: 5px;
      display: flex;
      font-size: 30px;
      cursor: pointer;
      &[name="delete"] {
        color: red;
      }
      &[name="save"],
      &[name="download"] {
        color: steelblue;
      }
    }
  }
}

}

// .image_header {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   & > div {
//     display: flex;
//     gap: 25px;
//     & > div {
//       display: flex;
//       gap: 10px;
//       align-items: center;

//       svg {
//         cursor: pointer;
//         padding: 0 2px;

//         &:nth-child(1) {
//           color: steelblue;
//           font-size: 35px;
//         }
//         &:nth-child(2) {
//           color: red;
//           font-size: 30px;
//         }
//       }
//     }
//   }
// }




.active {
  display: block;
}


@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
