.form {
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  
}
.form .header{
  display:flex;
  justify-content: space-between;
}

.form .header input{
  width:100px;
}
.form input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 5px;
  margin: 10px 0 20px;
  font-size: 1rem;
}
.form .input,.form select{
    display: block;
  width: 100%;
  height: 40px;
  padding: 5px;
  margin: 10px 0 20px;
  font-size: 1rem;
  background-color: inherit;
  border:1px solid #333;
}
.form .select_block{
  display: inline-block;
 width:50%;
 
}


.form .input_price{
  display:flex;
  width:100%;
}
.form .input_price div{
  flex:1;
}

.form .labels{
  display:flex;
  justify-content: space-around;
}
.form input[submit] {
  display: block;
  width: 100%;
  height: 40px;
  padding: 5px;
}

.form textarea {
  font-size: 1rem;
  width: 100%;
  height: 150px;
  padding: 5px;
}


.image{
   width:200px;
  height:250px;
  border:1px solid #b2babb;

}


.image_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 5px;
  width:200px;
  
}
.image_footer button {
  margin-top: 5px;
}

.images_container{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;  
  flex-wrap: wrap;
  align-items: center;

}
.images_container>button{
  margin:0 10px;
}
.image_footer{
  display:flex;
  justify-content: space-around;
  width:100%;
}

.image_footer button{
  display:flex;
}

.dropdown_menu {
  list-style: none;
  font-size: 1rem;
  display: none;
  width: 100%;
  position: absolute;
  z-index: 900;
  background: rgba(244, 246, 246);
  padding: 0 10px;
  margin-top: -15px;
  border: 1px solid #333;
  border-radius: 5px;
}
.active{
  display:block;
}

.dropdown_menu li{
  padding:0 5px;
}
.dropdown_menu li:hover{
  cursor:pointer;
background-color: #e5e8e8;

}
.input_group_menu {
  position: relative;
  
}
.linkButton{
  border:none;
  font-size:1rem;
  cursor: pointer;
  color: #3498db ;
  padding:5px 0;
  
}

.option {
  color:blue;
}
.flex_block{
  display:flex;
  flex-wrap:wrap;
  font-size:1rem;  
  padding:5px;
}

.flex_block div{
  padding:0 10px;
  font-size:1.2rem;
  border: 1px solid #333;
  cursor:pointer;
}


.option_active{
  background-color:  #a3e4d7 ;
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
