.container {
  padding: 0 10px;
}
.form {
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
  margin: 5px 0;
}
.grid label {
  font-size: 14px;
  display:block;
}
.form .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form .header input {
  width: 100px;
}
.form .header a {
  display: flex;
  align-items: center;
}
.form input {
  display: block;
  width: 100%;
  height: 30px;
  padding: 5px;

  font-size: 14px;
}
/* .form .input, */
.form select {
  display: block;
  width: 100%;
  height: 30px;
  padding: 5px;
  font-size: 14px;
  background-color: inherit;
  border: 1px solid #333;
}
.checkbox_wrapper {
  padding-top: 20px;
  display: flex;
  align-items:center;
  justify-content: space-around;
}
.form .checkbox {  
  flex: auto;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form .checkbox input[type="checkbox"] {
  height: 20px;
  width:30px;
  
}

.form .input_price {
  display: flex;
 
  width: 100%;
}
.form .input_price div {
  flex: 1;
}

.form .labels {
  display: flex;
  justify-content: space-around;
  
}
.form input[submit] {
  display: block;
  width: 100%;
  height: 30px;
  padding: 5px;
}

.form textarea {
  font-size: 14px;
  width: 100%;
  height: 100x;
  padding: 5px;
}

.image {
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #b2babb;
}

.image img {
  max-width: 198px;
  max-height: 248px;
}

.image_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 5px;
  width: 200px;
}
.image_footer button {
  margin-top: 5px;
}

.images_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
.images_container > button {
  margin: 0 10px;
}
.image_footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 5px 0;
}

.image_footer button {
  display: flex;
}

.dropdown_menu {
  list-style: none;
  font-size: 14px;
  display: none;
  width: 100%;
  max-height:300px;
  overflow: auto;
  position: absolute;
  z-index: 900;
  top: 35px;
  left: 0;
  background: rgba(244, 246, 246);
  padding: 0 10px;

  border: 1px solid #333;
  border-radius: 5px;
}
.active {
  display: block;
}

.dropdown_menu li {
  padding: 0 5px;
}
.dropdown_menu li:hover {
  cursor: pointer;
  background-color: #e5e8e8;
}
.input_group_menu {
  position: relative;
}
.linkButton {
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: #3498db;
  padding: 5px 0;
}

.options_container{
  padding:10px 0;
}
.flex_block {
  display: flex;
  flex-wrap: wrap;
  font-size: 16;

  padding:5px 0;
}



.option_price input {
  height: 20px;
  width: 60px;
  margin: 0;
  padding: 0 5px;
  border: none;
}
.header_options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  padding:10px 0;
}
.header_options input {
  margin: 0;
  padding: 0;
  height: 18px;
  width: 40px;
  cursor: pointer;
}

.header_options button{
  padding:3px 7px;
  font-size:inherit;
  border:1px solid  #b03a2e;
  background-color: inherit;
border-radius:5px;
}

.header_options button:hover{
  cursor:pointer;
}

.custom_checkbox,.custom_radio{
  position:relative;
  display:flex;
  align-items:center;
  column-gap: 5px;;
}
.check_icon{
  visibility:hidden;
  color:green;
  font-size: 20px;;
}
.visible{
  visibility: visible;
}
.custom_checkbox input[type='checkbox'],.custom_radio input[type='checkbox']{
  position:absolute;
  z-index:-1;
  opacity:0;
}
.custom_checkbox label{
  border:1px solid #0e6655 ;
  padding:3px 10px;
  margin:2px;
  border-radius:5px;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.custom_checkbox label:hover{
  cursor:pointer;
  
}
.custom_checkbox [type='checkbox']:checked ~ label{
  background-color: #0e6655 ;
  color:#fff;
}

.custom_radio label{
display:block;
  border:1px solid  #935116 ;
  padding:3px 7px;
border-radius: 5px;
background-color: #f9e79f;
}

.custom_radio label:hover{
  cursor:pointer;
}
.custom_radio input[type='checkbox']:checked ~ label{
  box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
  transform: scale(0.97);
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
