
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Robotto:wght@400&display=swap');
* {
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

html,
body{
  font-family:'Robotto',sans-serif;
  line-height:1.5;  
}

a{
  text-decoration:none;
  color:steelblue;
}


.btn{
  border:none;
  border-radius:5px;
  background-color:#1f618d;
  color:#fff;
  padding:5px 10px;
  font-size:14px;
  cursor:pointer;
}

.btn-danger{
  background-color: red;
  color:#fff;
  
}
.btn:hover{
  opacity:0.9;
}

.spinner{
  position:absolute;
  top:30%;
  left:50%;  
}

