.header {
  width: 100%;
  background-color: #f4f6f6;
  color: #333;
}

.header_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.header_top_left {
  display: flex;
  column-gap: 20px;
}

.header_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.logos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo {
  width: 150px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;  
}
.logo img{
  width:100%;
}

.logo:hover {  
  cursor: pointer;
  
}
.logo:active{
  transform:scale(0.95)
}
.logo_home {
  display: none;
  padding-left: 10px;
}
.logo_home a {
  display: flex;
  font-size: 25px;
  color: red;
  cursor: pointer;
}
.logo_home:active{
  transform:scale(0.9)
}
.currencies {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
}

.currencies p {
  padding-right: 5px;
}

.select {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.select select {
  appearance: none;
  font-size: 14px;
  text-align: center;
  border: none;
  background-color: inherit;
}
.select select:hover {
  cursor: pointer;
  border-bottom: 1px solid;
}
.phone_1 {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone_2 {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.search .input_group {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search .input_group input {
  font-size: 14px;
  padding: 0 2px;
  height: 30px;
  /* width: 100%; */
  width: 400px;
}
.input_group button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: inherit;
  border: none;
  width: 30px;
  height: 30px;
  color: #515a5a;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
}
.logout {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
  background-color: inherit;
  border: none;
}

.dropdown_list {
  position: absolute;
  list-style: none;
  display: none;
  z-index: 900;
  padding: 5px;
  top: 100%;
  right: 0;
  min-width: 100px;
  background-color: #fbfcfc;
  color: #000;
  border: 1px solid #ccd1d1;
}
.logout:hover .dropdown_list {
  display: block;
}
.dropdown_list li{
  padding:3px 5px; 
  
}
.dropdown_list li:hover{
  background-color: #aed6f1;
 cursor:pointer;
}
.login .icon,
.logout .icon {
  color: #145a32;
  font-size: 18px;
}
.login p,
.logout p {
  padding-left: 5px;
}

.login:hover p,
.logout:hover p {
  /* text-decoration: underline; */
  cursor: pointer;
  color: #333;
}
.header .cart {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

.header .cart a {
  height: 30px;
  width: 120px;
  padding: 0 5px;
  border: 1px solid #888;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .cart .icon {
  font-size: 20px;
  margin: 0 5px;
  color: red;
}

.header .cart a p {
  font-size: 13px;
  color: #333;
}


.header .cart a:hover {
  cursor: pointer;
  background-color: #e5e7e9;
}
.header .cart a:active {
  transform: scale(0.98);
  box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
}

.check_block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.check_block > div {
  padding: 0 5px;
}
.check_block > div > label {
  padding: 0 3px;
}
.check_block > div > label:hover {
  cursor: pointer;
}
.check_block > div > input[type="checkbox"] {
  appearance: none;
}
.check_block > div > input[type="checkbox"]:checked + label {
  border-bottom: 1px solid #333;
}

.drop_down_list {
  position: absolute;
  z-index: 100;
  top: 110%;
  left: 0;
  font-size: 13px;
  background: #f8f9f9;
  width: 400px;
  padding: 5px;
  border: 1px solid #999;
  border-radius: 5px;
  display: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.drop_down_list.active {
  display: block;
}

.drop_down_list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin: 2px 0;
  list-style: none;
  padding: 1px;
  line-height: 1;
  border: 1px solid #ccc;
}

.drop_down_list li:hover {
  border: 1px solid var(--links-color);
}
.left_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left_wrapper img {
  padding: 1px;
  max-width: 30px;
  max-height: 40px;
}
.left_wrapper img:hover {
  cursor: zoom-in;
}

.left_wrapper p {
  padding: 0 3px;
}
.right_wrapper p {
  padding: 0 3px;
}
@media (max-width: 768px) {
  .search .input_group input {
    width: 250px;
  }
  .drop_down_list {
    width: 130%;
  }
}
@media (max-width: 600px) {
  .search .input_group input {
    width: 200px;
  }
  .logo {
    display: none;
  }
  .logo_home {
    display: block;
  }
  .header_top_left{
    flex-direction: column;    
  }
  .phone_1, .phone_2{
    justify-content: start;
  }
}
