.price_block{
   display:flex;
   column-gap: 10px;  
   
   input{
       text-align: center;
    &:first-child{
      width:100px;   
    }
    &:last-child{
      width:160px;
    }    
   font-size:18px;   
   }
  
  }