.links {
  display: flex;

  a {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 23px;
    padding: 5px;
  }

  div {
    display: flex;
    align-items: center;
    font-size: 23px;
    padding: 5px;
    color: #2874a6;

    &:hover {
      cursor: pointer;
      color: #1a5276;
    }
  }
}
