.links{
  display:flex;
  
}
.links a{
  display:flex;
  align-items: center;
  margin-left:10px;
  font-size: 23px;
  padding:5px;
}

.links div{
  display:flex;
  align-items: center;
  font-size: 23px;
  padding:5px;
  color:var(--links-color);  
}
.links div:hover{
  cursor:pointer;
  color:var(--links-hover-color);
}