.content{
  width:350px;
  height:200px;
  color:#333;
  background-color: #fff;
  border-radius: 5px;;
  box-shadow:5px 5px 5px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  span {
    padding: 5px;
    
    color: red;
    cursor: pointer;
    align-self: flex-end;
    svg{
      font-size:25px;
    }
  }
  input {
    width: 90%;
    border: 1px solid #888;
    padding: 5px;
  }
}