.container{
  margin:5px 0;
  background-color:#d6eaf8    ;
  color:#000;
  width:100%;
  padding:3px 10px;
  border-radius:5px;
  display:flex;
  justify-content: space-between;
  align-items:center;
  font-size:14px;
  letter-spacing: 0.2ex;
  line-height: 1.1;
}

.container .list{
list-style:none;
display:flex;
justify-content:flex-start;
align-items:center;
flex-wrap:wrap;

}

.category{
  padding:2px 5px;  
  margin:5px 0;
  position:relative;
}

.category:hover{ 
  background-color: #aed6f1;
  cursor:pointer;
}
.drop_down_list{
  position:absolute;
  list-style: none; 
  display:none;
  z-index:900;
  padding:5px 0;
  top:100%;
  left:0;  
  min-width:160px;
  background-color:  #fbfcfc ;
color:#000;
  border:1px solid  #ccd1d1;
;
}
.category:hover .drop_down_list{
  display:block;
  
}
.drop_down_list li{
  padding:3px 10px; 
  
}
.drop_down_list li:hover{
  background-color: 
#aed6f1;
 
}
