.container{
  background-color:   #5499c7  ;
  color:#eaeded;
  width:100%;
  padding:5px 10px;
  border-radius:5px;
  display:flex;
  justify-content: space-between;
  align-items:center;
  
}

.container .list{
list-style:none;
display:flex;
justify-content:flex-start;
align-items:center;
flex-wrap:wrap;

}

.category{
  padding:5px 15px;  
  margin:5px 0;
  position:relative;
}

.category:hover{
 
  background-color:  #2980b9 ;
  cursor:pointer;
}
.drop_down_list{
  position:absolute;
  list-style: none; 
  display:none;
  z-index:900;
  padding:10px 0;
  top:100%;
  left:0;  
  min-width:160px;
  background-color: #f2f3f4;
  color:#333;
  border:1px solid  #ccd1d1;
;
}
.category:hover .drop_down_list{
  display:block;
  
}
.drop_down_list li{
  padding:5px 15px; 
  
}
.drop_down_list li:hover{
  background-color: #5499c7;
  color:#eaeded;
}
