.container{
  padding:0 10px;
}
.container h4{
  text-align: center;
}
.container p{
  font-size:15px;
  
}
.container .header{
 
  display:flex;
  justify-content: flex-start;

}
.header div{
  flex:1;  
}
.table{
  padding:10px 0;
  max-height: 300px;
  overflow: auto;
  line-height: 1;
}
.table table{
  border-collapse:collapse;
  border:1px solid #888;
  width:100%;
  table-layout: fixed;
}
.table thead tr{
  background-color:    #fcf3cf ;
}
.table td{
  text-align: center;
  border:1px solid #888;
  padding:3px;
}

.table td:nth-last-child(1) {
  width:100px;
}
.table td:nth-last-child(2) {
  width:100px;
}

.table tfoot td{
  background-color:  #e8f8f5 ;
}
.table tfoot td div{
  width:100%;
  
  display:flex;
  align-items: center;
  justify-content: space-between;
}

