.grid{
 width:100%;
 display:grid;
 grid-template-columns: 100px 2fr 2fr 6fr 1fr 1fr;
 grid-template-rows: 1fr;
}

.grid_product{  
 grid-column:1/-1;
 display:grid;
 grid-template-columns: subgrid;
 align-items: center;
 padding:2px;
}
.image{
  /* border:1px solid #333; */
  margin:5px;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  padding:2px;
}

.image img{
  max-width:55px;
  max-height:70px;
}
.line{
  grid-column: 1/-1;
  height:1px;
  background-color: #333;
  margin-top: 2px;
}
.button{
  display:flex;
  justify-content: center;
  align-items:center;
  width:30px;
  height:30px;
  font-size: 25px;
  color:red;
  background-color: inherit;
  border:none;
}

.name_link:hover{
  cursor:pointer;
  text-decoration: underline;
 
}

@media(max-width:768px){
  
}
