.options_container {
  margin: 10px 0;
  .option {
    background-color: #935116;
    color: #fbfcfc;
    display: inline-block;
    padding: 2px 10px;
    border-radius: 5px;
  }
  .options_wrapper {
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    .value {
      border: 1px solid green;
      border-radius: 5px;
      padding: 2px 10px;
      font-size: 18px;
      white-space: nowrap;

      span {
        &:first-child{
          font-size: 18px;;
          white-space: nowrap;
        }
       
        &:nth-child(2){
            font-size: 16px;        
        margin-left: 5px;
        }
      
      }
      &:hover {
        cursor: pointer;
      }
    }

    .active {
      background-color: green;
      color: #fbfcfc;
    }
    .price {
      color: #808b96;
    }
    .option_price {
      color: red;
    }

    .active_price {
      color: #fbfcfc;
    }
  }

  @media (max-width: 500px) {
    .options_wrapper{
      .value{
        font-size: 16px;
        span{
          font-size:14px;
        }
      }
    }
    
  }
}
