.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.cart_button{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:5px 10px;
  font-size: 16px;
  cursor:pointer;
}


.top_content{
  display:grid;
  grid-template-columns: 440px 1fr;
  width:100%;
 column-gap: 15px;
margin:10px 0;
}
.top_content .left{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.top_content .main_image{  
  display:flex;
  align-items: center;
  justify-content: flex-start;
  
}

.main_image img{
  max-width:420px;
  border:1px solid #888;
}

.top_content .main_image:hover{
  transform: scale(0.993);
  cursor:pointer;
}

.added_images{  
  display:flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin:10px 0;
  max-width:420px;

}

.added_images img{
  max-width:50px;
  max-height:70px;
 
}

.added_images > div{
  width:60px;
  height:80px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin:5px;
  
  border:1px solid #888;
  cursor:pointer;  
}
.added_images .image_active{
  border:1px solid red;
}
.added_images > div:hover{
  transform: scale(0.98);  
}
.center_header{  
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.center .form{
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}
.form > div > div{
  position:relative;
}

.item_in_list{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

 

.center .buttons{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-end;
  padding:5px 0;
}

.center .buttons button{
  padding:5px 10px;
  margin:0 10px 20px 0;
}

.center .buttons button:hover{
  cursor:pointer;
 
}
.top_content input{
  display:block;
  width:100%;
  height:30px;
  margin:5px 0;
}

.center table{
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  margin:10px 0;
  
}

.center table caption{
  font-size:15px;
  font-weight: 700;
}

.center table thead{
  font-size: 13px;
  border-bottom: 1px solid #999;
  
}

.center table tbody{
  font-size:13px;
}
.center table tbody tr :nth-child(1){
text-align: center;
}
.center table tbody tr :nth-child(2){
text-align: center;
}
.center table tbody tr :nth-child(3){
text-align: center;
}
.center table tbody tr :nth-child(4){
text-align: center;
}
.center table tbody tr :nth-child(5){
text-align: center;
}


.center  thead tr :nth-child(1){
  width:50px;
  text-align: center;
}
.center  thead tr :nth-child(2){
  width:50px;
  text-align: center;
}
.center  thead tr :nth-child(3){
  width:150px;
  text-align: center;
}
.center  thead tr :nth-child(4){
  width:50px;
  text-align: center;
}
.center  thead tr :nth-child(5){
  width:60px;
  text-align: center;
}
.center  thead tr :nth-child(6){
  width:50px;
  text-align: center;
}


.center table tfoot{
  font-size:13px;
  border-top: 1px solid #999;
}
.icon_wrapper{  
  display:flex;  
  justify-content: center;
  align-items: center;
}
.footer_wrapper{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.icon{
  color:red;  
  cursor:pointer;  
  font-size: 16px;  
}




@media(max-width:720px){
  .top_content{
    grid-template-columns: 1fr;
  }
  .top_content .main_image{
    justify-content: center;
    
  }
.top_content .main_image img{
  max-width: 500px;
}
.top_content .left{
  align-items: center;
}

.added_images{
  max-width:500px;
}
.added_images > div{
  width:60px;
  height:80px;
  
}

.added_images img{
  max-width: 110px;
  max-height: 150px;
}
}