$image-width: 500px;

.links {
  display: flex;
  a {
    margin-left: 20px;
  }
  p {
    color: #2874a6;
    margin-left: 10px;
    &:hover {
      cursor: pointer;
      color: #1a5276;
    }
  }
}

.container {
  padding: 0 10px;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.cart_button .icon {
  font-size: 16px;
  margin-right: 3px;
}

.content {
  display: grid;
  grid-template-columns: 2fr 4fr;
  column-gap: 15px;
  .left {    
    display: flex;
    flex-direction: column;    
    .added_images {      
      padding: 10px 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(60px,1fr));
      gap: 10px;

      .added_image {
        justify-self: center;
        width: 60px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #888;
        cursor: pointer;
        &:hover {
          background-color: #f2f3f4;
        }
        &.image_active {
          border: 1px solid red;
        }
        img {
          max-width: 50px;
          max-height: 70px;
        }
      }

      & > div:active {
        transform: scale(0.98);
      }
    }
  }
  .main_image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: zoom-in;
    img {
      width: 100%;
      border: 1px solid #888;
    }
    &:active {
      transform: scale(0.993);
    }
  }
}

.center {
  .center_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap:10px;
    
   
    & > div p {
      padding: 0 5px;
font-style:italic;
background-color: #FDEBD0;
padding:0 20px;
    }
   
    .price {
      display: flex;
      column-gap: 5px;
      font-size: 27px;
      font-weight: 600;
      color: #424949;
      white-space: nowrap;
    }
  }
  .footer{
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-style: italic;
    font-size: 17px;;
    background-color: #D4E6F1 ;
    padding: 2px;;
  }
  .cart_wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height:40px;
    // .counter_wrapper {
    //   width: 150px;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   column-gap: 10px;

    //   .counter {
    //     width: 80px;
    //     font-size: 18px;
    //     text-align: center;
    //     height: 30px;
    //   }
      
        
    //     svg {        
    //     color: #0e6655;
    //     font-size:30px;
    //     cursor: pointer;  
                  
    //   }
      
      
    // }
    // .choose_button {
    //   color: #0e6655;
    //   cursor: pointer;
    //   &:active {
    //     transform: scale(0.98);
    //   }
    // }

    .cart_button{      
      font-size:13px;
      display:flex;
      align-items: center; 
      justify-content: center;     
      padding:5px 20px;
      border:none;
      border-radius:10px;
      background-color: #0e6655;
      color:#FDFEFE;
      cursor:pointer;
      &:active{        
        background-color: darken($color: #0e6655, $amount: 5);
      }
      
      &.disable{
        opacity: 0.5;
        cursor:auto;
      }
    }
  }
}

.add_cart_icon {
  display: flex;
  justify-content: flex-end;
  width: 150px;
  i {
    cursor: pointer;
  }
  &:active {
    transform: scale(0.98);
  }
}



.description{
  color:#808b96;
  font-style: italic;
}

@media (max-width: 720px) {
  .content {
    grid-template-columns: 1fr;
    .main_image {
      justify-content: center;
      img {
        max-width: $image-width;
      }
    }
    .added_images {
      max-width: $image-width;
      margin: 10px auto;
    }
    .left {
      align-items: center;
    }
  }
  .center{
    .center_header{
      flex-wrap:wrap;
      justify-content: center;
    }
  }
}
