.links{
  display:flex;
  
}
.links a{
  margin-left:20px;
}

.links p{
  color:var(--links-color);
  margin-left: 10px;
}
.links p:hover{
  cursor:pointer;
  color:var(--links-hover-color);
}
.container{
  padding:0 10px;
}
.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:5px 10px;
}



.cart_button .icon{
  font-size: 16px;
 margin-right: 3px;
}

.content{
  display:grid;
  grid-template-columns: 2fr 4fr;
  width:100%;
 column-gap: 15px;

}
.content .left{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.content .main_image{  
  display:flex;
  align-items: center;
  justify-content: flex-start;
  
}

.main_image img{
  width: 100%;  
  border:1px solid #888;
}

.content .main_image:hover{
  
  cursor:zoom-in;
}
.content .main_image:active{
  transform: scale(0.993);
  
}

.added_images{  
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;  
  margin:10px 0;
  gap:10px;
}
.added_images img{
  max-width:50px;
  max-height:70px; 
}

.added_image{
  width:60px;
  height:80px;
  display:flex;
  justify-content: center;
  align-items: center;
  /* margin:5px; */  
  border:1px solid #888;
  cursor:pointer;  
}
.added_image:hover{
  background-color:  #f2f3f4;
}
.fake_image{
  width:60px;
  height:0px;
  
}
.image_active{
  border:1px solid red;
}


.added_images > div:active{
  transform: scale(0.98);  
}
.center_header{  
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.center_header h5{
  background-color:   #f8c471;
  border-radius:7px;
  padding:2px 5px;
}
.center_header>div p{
  padding:0 5px;
}
.center_header>div div{
  display:flex;
  align-items: center;
  padding:2px 0;
}
.price{
  display:flex;
  column-gap: 5px;  
  font-size: 27px;
  font-weight: 600;
  color:    #424949;

}
.center .inputs{
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  padding:10px 0;
}
.inputs > div{
  position:relative;
}

.item_in_list{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

 .choose_button{
  color:#0e6655 ;
  cursor:pointer;

 }

 .choose_button:active{
  transform:scale(0.98)
 }

.center .buttons button:hover{
  cursor:pointer;
 background-color:  #229954 ;
}
.content input{
  font-size: 15px;
  display:block;
  width:100%;
  height:30px;
  margin:3px 0;
  padding:0 5px;
}
.table{
  padding-right:5px;
 overflow-x: auto;
}
.center table{
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  margin:10px 0;
  
}

.center table caption{
  font-size:15px;
  font-weight: 700;
}

.center table thead{
  font-size: 13px;
  border: 1px solid #999;
  
}

.center table tbody{
  font-size:13px;
  border: 1px solid #999; 
  
}
.center table thead tr th{
  text-align: center;
  width:100%;
  
}
.center table tbody tr td{
  text-align: center;
  width:100%;
  
}

.hide_col{
  visibility:hidden;
  width:0;
}
.center table tfoot{
  font-size:13px;
  border-top: 1px solid #999;
}
.icon_wrapper{  
  display:flex;  
  justify-content: center;
  align-items: center;
}
.icon{
  color:red;  
  cursor:pointer;  
  font-size: 16px;  
}
.footer_wrapper{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.counter_cart_wrapper{
  display:flex;
  justify-content: space-between;
  align-items: center;
  
}
.counter_wrapper {
  width:150px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  
}

.counter_wrapper .counter{
  width: 80px;
  font-size: 18px;
  text-align: center;
  height: 30px;
}
.add_cart_icon{
  display:flex;
  justify-content: flex-end;
  width:150px;  
}
.add_cart_icon i{
  cursor:pointer;
}

.add_cart_icon:active{
  transform:scale(0.98)
}

.counter_wrapper i{  
  color: #0e6655;
}

.counter_wrapper i:hover {
  cursor: pointer;
}



@media(max-width:720px){
  .content{
    grid-template-columns: 1fr;
  }
  .content .main_image{
    justify-content: center;
    
  }
.content .main_image img{
  max-width: 500px;
}
.content .left{
  align-items: center;
}

.added_images{
  max-width:500px;
}
.added_images > div{
  width:60px;
  height:80px;
  
}

.added_images img{
  max-width: 110px;
  max-height: 150px;
}
}