.item {
  border: 1px solid #707b7c;
  flex-basis: 250px;  
  padding: 5px;
  margin:10px 10px;
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: center;
}

.name{
  padding:5px;
}

 .footer{
   width:100%;
  display:flex;  
  justify-content:space-between;
  background-color:  #e5e8e8  ;
  padding:2px 10px;
}

@media(max-width:768px){
  .name h4{    
      font-size:1.4rem;
    }
    .footer{
      font-size:1.4rem;
    }

  
}







